*.ur-safe
*.tmp-versions/
*.mod
*.swp
*.swo
*.o
*.cmd
*.ko
*tmp_versions
*Module.symvers
*modules.order
*.mod.c
*__pycache__*
*.pyc
*~
devops/vagrant/**/aws.yml
*.retry
.vagrant
vault
**/elm-stuff
*/virtuevm.img
*.qcow2
